* {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  margin-bottom: 20px;
}

#logo:hover {
  cursor: pointer;
}

#return {
  display: none;
  margin: 10px 0;
}

hr {
  border: 1px solid rgb(22, 22, 22);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#generations,
#pokemons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px auto;
}

#pokemon {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: white;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 12px;
}

.card > img {
  width: 100px;
  height: 100px;
}

.card:hover {
  cursor: pointer;
}

.loading-text {
  font-weight: 900;
}

#types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px auto;
}

/* POKEMON PAGE */

#section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#poke-image {
  width: 300px;
  height: 300px;
}

#poke-name {
  font-size: 30px;
  font-weight: 900;
}

#poke-types {
  display: flex;
  gap: 5px;
}

.type {
  background-color: #ffffff;
  padding: 5px;

  border-radius: 100%;
  border-color: #ffcd00;
  border-style: solid;
  border-width: 2px;

  width: 20px;
  height: 20px;
}

.type-little {
  background-color: #ffffff;
  padding: 5px;

  border-radius: 100%;
  border-color: #ffcd00;
  border-style: solid;
  border-width: 2px;

  width: 20px;
  height: 20px;
}
