@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .effect-blur {

    }

    .img{
        background-image: url("https://i.pinimg.com/736x/2b/1c/49/2b1c49a5be6471b62adc76f8c4817b5f.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
}

.anim-pokeBall {
    animation: pokeball 1.5s infinite;
}
@keyframes pokeball {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

.glass{
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.25);
}